*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color: $color-black-primary;
  font-family: "Poppins", sans-serif;
  font-size: $root-font-size;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  color: $color-black-primary;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: $base-size;
}
