$base-size: 16px;

$color-black-primary: #1c1427;
$color-black-secondary: #40394a;
$color-light-green-primary: #7eca9c;
$color-light-green-secondary: #ccffbd;

$root-font-size: $base-size;

/**
  * Responsive breakpoints
  *
  * reference: https://tailwindcss.com/docs/responsive-design
  */
$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
);
